
#navbar{
    background: black;
}
.container {
    text-align: center;
}
.nav-item .nav-link{
    font-size: 12px;
    font-weight: 100;
    color: white;
    border-radius: 20px;
    transition: 0.5s ease;
}

.home{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.884));
    width: 100%;
    height: 85vh;
    text-align: center;
}

.home .content {
    text-align: center;
    padding-top: 60px;
}

.home .content h1{
    color: white;
    font-size: 60px;
    text-shadow: 0px 1px 1px black;
    margin-top: 120px;
}

.home .content p{
    color: rgb(184, 1, 1);
    font-size: 19px;
}



.profile {
    background: white;
    padding: 50px;
    width: 100%;
}

.profile .detail{
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
 }  


 .profile .img{
    padding: 50px;
 }
 
.profile .card{
    margin-left: 30px;
    margin-top: 40px;
}

.small {
    height: 150px;
    background-color: black;
    color: white;
}

.small-one{
     padding: 50px;
    text-align: center;
}


.achive{
    background-color: white;
 height: 700px;
}

.achive .awards{
text-align: center;
margin-top: 50px;
}

.achive .row{
    padding: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.achive .card{
    box-shadow: rgba(0.1,0.1,0.1,0.1) 1px 1px 1px 1px;
    border: none;
    cursor: pointer;
}


.lines{
    position: relative;
    max-width: 1350px;
    margin: 3px auto;
    text-align: center;
  }
  
  .lines:before{
    content:" ";
    height: 1px;
    width: 550px;
    background: rgb(197, 197, 197);
    display: block;
    position: absolute;
    top: 50%;
    
  }
  
  .lines:after{
    content:" ";
    height: 1px;
    width: 550px;
    background: rgb(197, 197, 197);
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
  }

  .record .recdiv{
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    text-align: center;
  }

  .rec-lines{
    position: relative;
    max-width: 630px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  
  .rec-lines:before{
    content:" ";
    height: 1px;
    width: 200px;
    background: rgb(197, 197, 197);
    display: block;
    position: absolute;
    top: 50%;
    
  }
  
  .rec-lines:after{
    content:" ";
    height: 1px;
    width: 200px;
    background: rgb(197, 197, 197);
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
  }
  
  .record .ul{
    text-align: left;
    margin-left: 100px;
  }

  .footer{
    height: 250px;
    background-color: black;
    color: white;
    margin-top: 100px;
  }

  .footer .foodiv{
    float: left;
    width: 40%;
    padding: 60px;
  font-size: 14px;
  }
  .footer .foodivo{
    float: left;
    width: 20%;
    padding: 60px;
    font-size: 14px;
  }